<div class="container-fluid container-fluid-custom">
    <h1 class="py-3 by-3 my-3">About</h1>
    <h3 class="py-5 by-5 my-5">
        Welcome to our Notes! We are dedicated to simplifying and enhancing your note-taking experience.Notes is a
        simple to use free note taking ap made with note.js, EJS and Express. Whether you're
        a student, professional, or anyone seeking an organized way to capture and manage your ideas, our platform is
        designed with you in mind. Our intuitive interface allows you to effortlessly create, edit, and organize your
        notes, ensuring that your thoughts are always at your fingertips. With seamless synchronization across devices,

        includes search capabilities, enabling you to quickly locate your notes
        when you need them the most. Join us in revolutionizing the way you take notes - streamline your productivity,
        declutter your mind, and embark on a journey of efficient and effective note-taking with us.
    </h3>
</div>