<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 height text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-2 position-relative home-title">
          Write your thoughts down as they come to you.
        </h1>
        <h3 class="ds-4 mb-5 my-5 py-2">
          Notes is a simple to use free note taking ap made with note.js, EJS
          and Express.
        </h3>
        <a href="/auth/google" class="btn btn-primary btn-lg"
          >Try Notes, it's Free!</a
        >
      </div>
    </div>
  </main>
</div>
